.networks-section {
    min-height: 12vw;
    color: white;
    background-color: #7c8a96;
    display: flex;
    align-items: center;
    justify-content: space-around;
    ul {
      list-style: none;
      li {
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        .icon-container {
          display: flex;
          align-items: center;
          height: 24px;
          width: 24px;
          justify-content: center;
        }
      }
    }
  }