.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #333;
  color: white;
}

.navbar .logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar .nav-links li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .navbar .logo a {
    font-size: 20px;
  }

  .navbar .nav-links li a {
    font-size: 16px;
  }
}

.nav-links-mobile {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #333;
  width: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 1000;
  li{
    list-style: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.nav-links-mobile li {
  margin: 10px 0;
}

.hamburger-icon {
  cursor: pointer;
  color: white;
  font-size: 24px;
}